<%-include('header')%>    
<div class="result">
<% if(error){ %>
    <%= error %>
<% }else{ %>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Valor inicial ($)</th>
                <th>Cotação ($)</th>
                <th>Valor final (R$)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= quantidade %></td>
                <td><%= cotacao %></td>
                <td><%= conversao %></td>
            </tr>
<% } %>    
</div>
</html>